/neural_networks/Image Model/Testing Set Prepared
/neural_networks/Image Model/Models/wildfire_image_classification_v1_local.keras
/neural_networks/Numeric Model/Weather_parameters_model_firebias_v1.keras
/neural_networks/Image Model/Training Set Synthetic Prepared
/neural_networks/Numeric Model/For Model Training
/neural_networks/Numeric Model/Processed Prepared Datasets
__pycache__
